<body background="skyline.jpg" class="background">
  <div class='jumbotron'>
    <h1 align="center">Welcome to My Survey App</h1>

    <p align="center"><%= link_to "Click here to look at your surveys", surveys_path, class: "btn btn-primary btn-lg", role: "button" %></p>
  </div>
</body>